@use "../global/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-regular;
  border-top: 1px solid $highlight-color;
  font-size: $font-size-small;
  color: $link-color;
  text-align: center;
    @media (min-width: $width-tablet) {
      flex-direction: row;
      align-items: start;
      flex-wrap: nowrap;
      justify-content: space-between;
        &__text-content {
          flex: 1 1 0;
          min-width: 0;

            &:first-child {
              text-align: left;
            }
            &:last-child {
              text-align: right;
            }
        }
    }
}