@use "../global/variables" as *;

.header {
  @media (min-width: $width-desktop) {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &__title {
      order: -1;
    }
  }

  &__title {
    margin-top: 24px;
  }

}