@use "../global/variables" as *;

.title  {
  display: flex;
  align-items: center;
  font-size: $font-size-title;
  font-family: $font-bold;
  font-weight: 500;

    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 40px;
      background-image: url("/img/highlight.svg ");
      background-repeat: no-repeat;
      margin-right: 12px;
    }
}