//fonts

$font-regular: "TT Lakes Regular";
$font-medium: "TT Lakes Medium";
$font-bold: "TT Lakes Bold";
$font-size-main: 16px;
$font-size-small: 14px;
$font-size-title: 28px;

//media

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1366px;

//colors

$background-color: #F8F8F8;
$highlight-color: #D9FFF5;
$white-color: #FFFFFF;
$color-button: #FF3E79;
$link-color: #7E7E82;
$card-border-color: #EAEAEA;

//gap
$gap-menu: 20px;
$gap-regular: 16px;
$gap-large: 24px;
$gap-footer: 40px;

//border

$border-radius-main: 6px;